<section id="main">
    <div class="container">
        <h3>HOW TO FIND US?</h3>
        <p class="address">Stevens Institute of Technology<br>1, Castle Point, Hoboken <br>NJ - 07030</p>
        <p class="phone">PH: +1 (609)-609 6090 </p>
        <p class="mail"><a href="info@trektheworld.com">info@trektheworld.com</a></p>
    </div>
</section>